<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <%= gravatar_for @user %>
    <section class="user_info">
      <div>
        <label>Login: </label> <%= @user.name %>
      </div>
      <div>
        <label>Email: </label> <%= @user.email %>
      </div>
    </section>
  </aside>
</div>